nav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100px;
    display:grid;
    background:#191717;
    float: right;
    
}



img{
    display: inline;
    
}
